:root{
    --primary-text-color: #434455 ;
    --secondary-text-color: #E7E9FC;
    --light-text-color: #F4F4FD;
    --primary-title-color: #2E2F42;
    --brand-color: #4D5AE5;
    --accent-color: #404BBF;
    --primary-background-color: #FFFFFF;
    --light-background-color: #E5E5E5; 
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
body{
    font-family: 'Roboto',sans-serif ;
    background-color: var(--primary-background-color);
}
/* ===========components=========== */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}
.logo-brand{
    color: var(--brand-color);
    }
    .btn{
        font-family: inherit ;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        cursor: pointer;
    }
    .title{
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ==============Header========== */
.header-logo{
color: var(--primary-title-color);
}
.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-title-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}
.contact-list .link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.contact-list .link:hover,
.contact-list .link:focus{
    color: var(--accent-color);
}

/* =================Hero=============== */
.hero{
    background-color: var(--primary-title-color);
}
.main-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-background-color);
}
.order-btn{
    color: var(--primary-background-color);
    background-color: var(--brand-color);
}
.order-btn:hover,
.order-btn:focus{
background-color: var(--accent-color);
}

/* ================Our features========= */
.visually-hidden{
    position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.features-subtitle{
    color: var(--primary-title-color);
}
.feateres-text{
    color: var(--primary-text-color);  
}

/* ===============What are we doing========== */
.work-title{
    color: var(--primary-title-color); 
}

/* =============Our team=============== */
.section-team{
    background-color: var(--light-background-color);
}
.team-member{
    background-color: var(--primary-background-color);
}
.team-title{
    color: var(--primary-title-color);
}
.team-subtitle{
    color: var(--primary-title-color);
}
.team-text{
    color: var(--primary-text-color);
}

/* ===============Footer================= */
.footer{
    background-color: var(--primary-title-color);
}
.footer-logo{
color: var(--light-text-color);
}
.footer-text {
color: var(--secondary-text-color) ;
}

/* ============== Example ============= */
.filter-btn{
border: 1px solid  var(--secondary-text-color);
color: var(--brand-color);
background-color: var(--secondary-text-color);

}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--primary-background-color);
    background-color: var(--brand-color);
}
.example-subtitle{
    color: var(--primary-title-color);
}
.example-text{
    color: var(--primary-text-color);
}



